<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servidor con Express y Socket.io</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <h1>Servidor con Express y Socket.io</h1>
  
  <p id="text"></p>

  <button id="emit-to-server">Send</button>
  <button id="emit-to-last">Send last</button>

  <script src="./js/index.js"></script>
</body>
</html>